.click-more {
  background: #FF8008;
  color: white;
  border-radius: 20px;
  padding: 10px 15px;
  margin: 5px 0;
}

.click-next {
  background: #FF8008;
  color: white;
  border-radius: 20px;
  padding: 10px 15px;
  margin: 5px 0;
}
