// Import your layouts CSS files here.
// Examples:
// @import "dashboard";
// @import "profile";
// @import "map";

@import "../config/colors";

body {
  background: $light-gray;
}

h1 {
  font-size: 72px;
}

a:link {
  text-decoration: none;
}

.full-screen {
  height: 100vh;
}

.l-side {
  color: white;
  text-align: center;
  height: 100vh;
  /* if you have a 70px navbar => height: calc(100vh - 70px); */
  background-size: cover !important;
  display: flex;
  align-items: center;
  justify-content: center;
}

.r-side {
  height: calc(100vh - 40px);
  background: $light-gray;
  // display: flex;
  align-items: center;
  justify-content: center;
}

.no-gutters {
  margin-right: 0;
  margin-left: 0;

  > .col,
  > [class*="col-"] {
    padding-right: 0;
    padding-left: 0;
  }
}
