<div id="app">

<!-- POST 1 -->
<div class="post">

  <!-- SCREEN 1 -->
  <div class="screen1">
    <p class="balloon">HEADLINE: PALMEIRAS NÃO TEM MUNDIAL!</p>
    <img class="pic-border" src="http://via.placeholder.com/250x150" alt="">
    <div class="text-center btn-margin">
      <a class="btn btn-xs new-click-more">Tell me more</a>
      <a class="btn btn-xs new-click-next">Next post</a>
    </div>
  </div>

  <!-- SCREEN 2 -->
  <div class="screen2">
    <p class="balloon hidden">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies.</p>
    <p class="balloon hidden">Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean. A sm</p>
    <div class="text-center btn-margin hidden">
      <a class="btn btn-xs new-click-more">Continue...</a>
    </div>
  </div>

  <!-- SCREEN 3 -->
  <div class="screen3">
    <p class="balloon hidden">A wonderful serenity has taken possession of my entire soul, like these sweet mornings of spring which I enjoy with my whole heart. I am alone, and feel the charm of existence in this spot, which was created for the blis</p>
    <p class="balloon hidden">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo</p>
    <div class="text-center btn-margin hidden">
      <a class="btn btn-xs new-click-next">Next post</a>
    </div>
  </div>
</div>

<!--  -->
<!--  -->

<!-- POST 2 -->
<div class="post">

  <!-- SCREEN 1 -->
  <div class="screen1">
    <p class="balloon hidden">HEADLINE: VAI CORINTHIANS!</p>
    <img class="pic-border hidden" src="http://via.placeholder.com/250x150" alt="">
    <div class="text-center btn-margin hidden">
      <a class="btn btn-xs new-click-more">Tell me more</a>
      <a class="btn btn-xs new-click-next">Next post</a>
    </div>
  </div>

  <!-- SCREEN 2 -->
  <div class="screen2">
    <p class="balloon hidden">One morning, when Gregor Samsa woke from troubled dreams, he found himself transformed in his bed into a horrible vermin. He lay on his armour-like back, and if he lifted his head a little he could see his brown belly, s</p>
    <p class="balloon hidden">The quick, brown fox jumps over a lazy dog. DJs flock by when MTV ax quiz prog. Junk MTV quiz graced by fox whelps. Bawds jog, flick quartz, vex nymphs. Waltz, bad nymph, for quick jigs vex! Fox nymphs grab quick-jived w</p>
    <div class="text-center btn-margin hidden">
      <a class="btn btn-xs new-click-more">Continue...</a>
    </div>
  </div>

  <!-- SCREEN 3 -->
  <div class="screen3">
    <p class="balloon hidden">The quick, brown fox jumps over a lazy dog. DJs flock by when MTV ax quiz prog. Junk MTV quiz graced by fox whelps. Bawds jog, flick quartz, vex nymphs. Waltz, bad nymph, for quick jigs vex! Fox nymphs grab quick-jived w</p>
    <p class="balloon hidden">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies.</p>
    <div class="text-center btn-margin hidden">
      <a class="btn btn-xs new-click-next">Next post</a>
    </div>
  </div>
</div>

<!--  -->
<!--  -->

<!-- POST 3 -->
<div class="post">

  <!-- SCREEN 1 -->
  <div class="screen1">
    <p class="balloon hidden">HEADLINE: BAMBIS NA SEGUNDONA!</p>
    <img class="pic-border hidden" src="http://via.placeholder.com/250x150" alt="">
    <div class="text-center btn-margin hidden">
      <a class="btn btn-xs new-click-more">Tell me more</a>
      <a class="btn btn-xs new-click-next">Next post</a>
    </div>
  </div>

  <!-- SCREEN 2 -->
  <div class="screen2">
    <p class="balloon hidden">One morning, when Gregor Samsa woke from troubled dreams, he found himself transformed in his bed into a horrible vermin. He lay on his armour-like back, and if he lifted his head a little he could see his brown belly, s</p>
    <p class="balloon hidden">The quick, brown fox jumps over a lazy dog. DJs flock by when MTV ax quiz prog. Junk MTV quiz graced by fox whelps. Bawds jog, flick quartz, vex nymphs. Waltz, bad nymph, for quick jigs vex! Fox nymphs grab quick-jived w</p>
    <div class="text-center btn-margin hidden">
      <a class="btn btn-xs new-click-more">Continue...</a>
    </div>
  </div>

  <!-- SCREEN 3 -->
  <div class="screen3">
    <p class="balloon hidden">The quick, brown fox jumps over a lazy dog. DJs flock by when MTV ax quiz prog. Junk MTV quiz graced by fox whelps. Bawds jog, flick quartz, vex nymphs. Waltz, bad nymph, for quick jigs vex! Fox nymphs grab quick-jived w</p>
    <p class="balloon hidden">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies.</p>
    <div class="text-center btn-margin hidden">
      <a class="btn btn-xs new-click-next">Next post</a>
    </div>
  </div>
</div>

<!--  -->
<!--  -->

<!-- POST 4 -->
<div class="post">

  <!-- SCREEN 1 -->
  <div class="screen1">
    <p class="balloon hidden">HEADLINE: VAI CORINTHIANS!</p>
    <img class="pic-border hidden" src="http://via.placeholder.com/250x150" alt="">
    <div class="text-center btn-margin hidden">
      <a class="btn btn-xs new-click-more">Tell me more</a>
      <a class="btn btn-xs new-click-next">Next post</a>
    </div>
  </div>

  <!-- SCREEN 2 -->
  <div class="screen2">
    <p class="balloon hidden">One morning, when Gregor Samsa woke from troubled dreams, he found himself transformed in his bed into a horrible vermin. He lay on his armour-like back, and if he lifted his head a little he could see his brown belly, s</p>
    <p class="balloon hidden">The quick, brown fox jumps over a lazy dog. DJs flock by when MTV ax quiz prog. Junk MTV quiz graced by fox whelps. Bawds jog, flick quartz, vex nymphs. Waltz, bad nymph, for quick jigs vex! Fox nymphs grab quick-jived w</p>
    <div class="text-center btn-margin hidden">
      <a class="btn btn-xs new-click-more">Continue...</a>
    </div>
  </div>

  <!-- SCREEN 3 -->
  <div class="screen3">
    <p class="balloon hidden">The quick, brown fox jumps over a lazy dog. DJs flock by when MTV ax quiz prog. Junk MTV quiz graced by fox whelps. Bawds jog, flick quartz, vex nymphs. Waltz, bad nymph, for quick jigs vex! Fox nymphs grab quick-jived w</p>
    <p class="balloon hidden">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies.</p>
    <div class="text-center btn-margin hidden">
      <a class="btn btn-xs new-click-next">Next post</a>
    </div>
  </div>

<!--  -->
<!--  -->

<!-- POST 5 -->
<div class="post">

  <!-- SCREEN 1 -->
  <div class="screen1">
    <p class="balloon hidden">HEADLINE: VAI CORINTHIANS!</p>
    <img class="pic-border hidden" src="http://via.placeholder.com/250x150" alt="">
    <div class="text-center btn-margin hidden">
      <a class="btn btn-xs new-click-more">Tell me more</a>
      <a class="btn btn-xs new-click-next">Next post</a>
    </div>
  </div>

  <!-- SCREEN 2 -->
  <div class="screen2">
    <p class="balloon hidden">One morning, when Gregor Samsa woke from troubled dreams, he found himself transformed in his bed into a horrible vermin. He lay on his armour-like back, and if he lifted his head a little he could see his brown belly, s</p>
    <p class="balloon hidden">The quick, brown fox jumps over a lazy dog. DJs flock by when MTV ax quiz prog. Junk MTV quiz graced by fox whelps. Bawds jog, flick quartz, vex nymphs. Waltz, bad nymph, for quick jigs vex! Fox nymphs grab quick-jived w</p>
    <div class="text-center btn-margin hidden">
      <a class="btn btn-xs new-click-more">Continue...</a>
    </div>
  </div>

  <!-- SCREEN 3 -->
  <div class="screen3">
    <p class="balloon hidden">The quick, brown fox jumps over a lazy dog. DJs flock by when MTV ax quiz prog. Junk MTV quiz graced by fox whelps. Bawds jog, flick quartz, vex nymphs. Waltz, bad nymph, for quick jigs vex! Fox nymphs grab quick-jived w</p>
    <p class="balloon hidden">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies.</p>
    <div class="text-center btn-margin hidden">
      <a class="btn btn-xs new-click-next">Next post</a>
    </div>
  </div>
</div>
</div>
