<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-4">
        <h1 class="text-center">new post</h1>
        <%= simple_form_for @batch do |f| %>
          <%= f.input :name %>
          <%= f.submit "Create" %>
        <% end %>
    </div>
  </div>
</div>
