.show {
  transition: transform 0.5s ease-in-out;
  transform: translate(-100%, 0);
  position: absolute;
  right: -100%;
  height: auto;
}

#app {
  height: calc(100vh - 40px);
  width: 100%;
  overflow-y: scroll;
}

#chat {
  flex: 1;
  width: 100%;
  padding: 20px;
  display: flex;
  align-items: flex-end;
  flex-direction: column;
}

#init {
  height: calc(100vh - 140px);
  width: 100%;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

.click-more {
  background: #FF8008;
  color: white;
  border-radius: 20px;
  padding: 10px 15px;
  margin: 5px 0;
}

.click-next {
  background: #FFC837;
  color: white;
  border-radius: 20px;
  padding: 10px 15px;
  margin: 5px 0;
}

.click-start {
  background: #FF8008;
  color: white;
  border-radius: 20px;
  padding: 10px 15px;
  margin: 5px 0;
}

.btn-margin {
  margin-top: 50px;
  margin-bottom: 25px;
}

.pic-border {
  border-radius: 4px 20px 20px 20px;
}

.left {
  position: relative;
  left: 700px;
}

.balloon {
  background: #EBEBEB;
  width: 95%;
  border-radius: 4px 20px 20px 20px;
  padding: 10px 20px 10px 20px;
  line-height: 125%;

  &-image {
    background: #EBEBEB;
    border-radius: 4px 20px 20px 20px;
    padding: 5px;
    margin-bottom: 12px;
  }
}

.btn-clicked {
  background: #CCCCCC;
  color: #EBEBEB;
  border-radius: 20px 4px 20px 20px;
  padding: 10px 15px;
  margin: 5px 0;
  text-decoration: none;
}
