#app-window {
  height: calc(100vh - 40px);
  width: 100%;
  padding: 20px 10% 20px 10%;
  overflow-y: scroll;
  position: relative;
}

.teste {
  position:absolute;
  bottom: 0px;
}

.click-more {
  background: #FF8008;
  color: white;
  border-radius: 20px;
  padding: 10px 15px;
  margin: 5px 0;
}

.click-next {
  background: #FF8008;
  color: white;
  border-radius: 20px;
  padding: 10px 15px;
  margin: 5px 0;
}

.btn-margin {
  margin: 20px 0;
}

.pic-border {
  border-radius: 4px 20px 20px 20px;
}

.left {
  position: relative;
  left: 700px;
}

.balloon {
  background: #EBEBEB;
  width: 75%;
  border-radius: 4px 20px 20px 20px;
  padding: 15px 25px 15px 25px;
  line-height: 175%;

  &-image {
    background: #EBEBEB;
    border-radius: 4px 20px 20px 20px;
    padding: 5px;
    margin-bottom: 12px;
  }

  &-right {
    background: #FFC837;
    color: white;
    border-radius: 20px 4px 20px 20px;
    padding: 10px 15px;
    margin: 5px 0;
    text-decoration: none;
  }
}
